/.vscode/launch.json
/config.yml
/assets/
/assets.7z
/assets.zip
/tests/
/*.db
/apps/*
!/apps/meme/
!/apps/pcr-gacha/
!/apps/pcr-lucky/
!/apps/setu/
!/apps/nbnhhsh/
!/apps/message/
!/apps/daily-news/
!/apps/moyu/
